---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import MainContainer from "../../layouts/MainContainer.astro";
import LeftContainer from "../../layouts/LeftContainer.astro";
import CenterContainer from "../../components/CenterContainer.astro";
import RightContainer from "../../layouts/RightContainer.astro";
import Content from "../../components/Content.jsx";
import Shortcuts from "../../components/Shortcuts.astro";

// Define all valid routes at build time
export function getStaticPaths() {
  const validSubjects = ['fizica', 'mate', 'info', 'admitere'];
  const validPages = ['bac', 'teste', 'simulari', 'variante'];
  
  const paths: { params: { subject: string, page: string } }[] = [];
  
  // Generate all combinations of subject and page
  validSubjects.forEach(subject => {
    validPages.forEach(page => {
      paths.push({ params: { subject, page } });
    });
  });
  
  return paths;
}

// Get the dynamic route parameters
const { subject, page } = Astro.params;

// Page title construction
const pageTitle = `${subject}${page ? `-${page}` : ''} | cuza.pages.dev`;

// Special case for the admitere section
const isAdmitere = subject === 'admitere';
---

<Layout title={pageTitle}>
  <Navbar>
    <Navbar />
  </Navbar>
  <MainContainer>
    <LeftContainer>
      <span class="text-lg font-bold text-white">Altele</span>
      {isAdmitere ? 
        <Content subject={subject} page={`altele-${page || subject}`} /> :
        <Content subject={subject} page="altele" />
      }
      {!isAdmitere && subject !== 'info' && 
        <>
          <br />
          <Shortcuts />
        </>
      }
    </LeftContainer>
    <CenterContainer />
    <RightContainer>
      {isAdmitere && page ? 
        <Content subject={subject} page={page} /> :
        <Content subject={subject} page={page || 'bac'} />
      }
    </RightContainer>
  </MainContainer>
  <Footer />
</Layout>