---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import MainContainer from "../layouts/MainContainer.astro";
import LeftContainer from "../layouts/LeftContainer.astro";
import CenterContainer from "../components/CenterContainer.astro";
import RightContainer from "../layouts/RightContainer.astro";
import Content from "../components/Content.jsx";
import Shortcuts from "../components/Shortcuts.astro";
import ToggleExpansion from "../components/ToggleExpansion.astro";

// Props for the component
interface Props {
  subject: string;
  page: string;
}

const { subject, page = 'bac' } = Astro.props;
const isAdmitere = subject === 'admitere';

// Page title construction
const pageTitle = `${subject === 'fizica' && page === 'bac' ? 'mate-fizica' : `${subject}${page ? `-${page}` : ''}`} | cuza.pages.dev`;
---

<Layout title={pageTitle}>
  <Navbar>
    <Navbar />
  </Navbar>
  <MainContainer>
    <LeftContainer>
      <span class="text-lg font-bold text-white">Altele</span>
      {(subject === 'admitere' && page === 'fizica') || (subject === 'fizica') ? (
        <a class="altele-link mb-2" href="https://drive.google.com/drive/folders/1RUHqNmCLyEN-FV3IXjw_aIpZEaE-qJWq?usp=sharing" target="_blank">Culegeri fizică</a>
      ) : null}
      {isAdmitere ? (
        /* For admitere subjects, look for altele inside the current page directory */
        <Content subject="admitere" page={`${page}/altele`} client:load/>
      ) : (
        <Content subject={subject} page="altele" client:load/>
      )}
      <br />
      <Shortcuts subject={subject} page={page} />
      <ToggleExpansion />
    </LeftContainer>
    <CenterContainer />
    <RightContainer>
        <Content subject={subject} page={page} client:load expansionMode="years" />
    </RightContainer>
  </MainContainer>
  <Footer />
</Layout>