<!-- ---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import MainContainer from "../layouts/MainContainer.astro";
import LeftContainer from "../layouts/LeftContainer.astro";
import RightContainer from "../layouts/RightContainer.astro";
import Aside from "../components/Aside.astro";
import Content from "../components/Content.astro";

// Props for the component
interface Props {
  subject: string;
  page: string;
}

const { 
  subject, 
  page,
} = Astro.props;

const pageTitle = `${subject === "fizica" && page === "bac" ? "mate-fizica" : `${subject}${page ? `-${page}` : ""}`} | cuza.pages.dev`;
---

<Layout title={pageTitle}>
  <Navbar />
  <MainContainer>
    <LeftContainer>
      <Aside subject={subject} page={page} />
    </LeftContainer>
    <div class="flex grow shrink"></div>
    <RightContainer>
      <Content
        subject={subject}
        page={page}
      />
    </RightContainer>
  </MainContainer>
  <Footer />
</Layout> -->
